.post-list-wrapper.blog-widget-recent:not(.blog-widget-recent-masonry) .post-holder:nth-child(2n+1) {
    clear: none;
}

.post-list-wrapper.blog-widget-recent:not(.blog-widget-recent-masonry) .post-holder {
    width: 31.333333%;
}

.post-list .post-header .post-title a {
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
}

.post-holder .post-header .post-info .item::after {
    display: none;
}

.post-holder .post-header .post-info .value {

    &:before {
        content: "\e612";
        font-family: 'luma-icons';
        color: #222;
        font-size: 14px;
        padding-right: 5px;
    }
}

.post-holder .post-header .post-info {


    .post-categories {
        display: none;
    }
}

.blog-widget-recent .post-description .post-text-hld {
    color: #888;
    min-height: 0px;
}

.post-list .post-content .post-read-more {
    display: none;
}